<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Welcome</h1>
    <p>Hello, you need to create an account to view your favourite movies!</p>
    <p><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% if @movies_error.present? %>
    <h1><%=@movies_error%></h1>
  <% else %>
    <% @movies.each do |movie| %>
      <% movie_image = MovieImage.find_by(movie_id: movie.id) %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <% if !movie_image.blank? %>
            <%= link_to image_tag(movie_image.image.url(:medium)), movie %>
          <% else %>
            <%= link_to movie.title, movie %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
